<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic in Android/IOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic in Android/IOS</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Tutorial to create an app in Android</strong>
    <br>
    <ul style="list-style-type: decimal">
      <li>First i needed download Android Studio or SDK</li>
      <li>After, I went to configure the environment variables of my zsh terminal (not is bash) with the comand: nano ~/.zsh</li>
      <li>A version incompatibility error occurred while running cordova so i downloaded SDKman</li>
      <li>After you have the following version installed e just run cordova commands to prepare, build and run the project:
        <br><br>
        <ion-card-content>
          Openjdk version "1.8.0_292",
          OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_292-b10),
          OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25,292-b10, mixed mode).
        </ion-card-content>
      </li>
    </ul>


  </div>
</ion-content>
